@{
    var currentAdmin = (CinemaWeb.Models.user)HttpContext.Current.Session["admin"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Suất Chiếu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/schedule.css?v=1" />
    <link rel="stylesheet" href="~/assets/font/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
</head>

<body id="reportsPage">
    <div class="header">
        <div class="container-fluid p-4">
            <div class="row align-items-center">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 px-4 py-1">
                    <a href="/Home" class="navbar-brand">
                        <img src="~/assets/images/logo/cinema-logo.png" alt="Ohayou Cinema" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-6" style=" display: flex; justify-content: center; align-items: center;">
                    <ul class="list-gr-1 list-group list-group-horizontal">
                        <li class="list-group-item movie-area">
                            <a href="/Admin/AdminHome">
                                Trang chủ
                                <i class="ti-angle-down down-btn"></i>
                            </a>
                        </li>

                        <li class="list-group-item cinema-corner text-center">
                            Quản lí rạp chiếu
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="/Admin/Movies/Index">Phim</a></li>
                                <li><a href="/Admin/Schedule/Index">Suất chiếu</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item cinema-corner text-center">
                            Quản lí tài khoản
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="/Admin/Staff/StaffList">Nhân viên</a></li>
                                <li><a href="/Admin/User/UserList">Khách hàng</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item movie-area text-center">
                            <a href="/Admin/Revenue/OveralRevenue">
                                Doanh thu
                                <i class="ti-angle-down down-btn"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="login-area col-md-3">
                    <div class="row">
                        <div class="col-auto">
                            <div class="show-login js-show-login">
                                <div class="account-wrapper">
                                    <img src="~/assets/images/subimg/account.png" alt="" class="img-fluid account-img">
                                    <ul class="list-group account-list">
                                        <li class="list-group-item">
                                            <a href="/User/UserHome/UserProfile">
                                                <i class="fa-solid fa-id-badge account-icon"></i>
                                                Tài Khoản
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/Home/SignOut" class="js-logout">
                                                <i class="fa-solid fa-arrow-right-from-bracket account-icon"></i>
                                                Đăng Xuất
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto" style="display: flex; align-items: center;">
                            <div class="user_name  row1 " style="font-weight: 600; font-size: small;">
                                @currentAdmin.full_name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line-default"></div>
    <div class="wrapper row m-3">
        <div class="col-md-2">
            <div class="list-group room-list" id="list-tab" role="tablist" style="margin-top: 1rem">
                <a id="room-0" class="list-group-item list-group-item-action room-item active" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="0">Tất cả</a>
                <a id="room-1" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="1">Rạp 1</a>
                <a id="room-2" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="2">Rạp 2</a>
                <a id="room-3" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="3">Rạp 3</a>
                <a id="room-4" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="4">Rạp 4</a>
                <a id="room-5" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="5">Rạp 5</a>
            </div>
        </div>
        <div class="wrapper-content col-md-10">
            <div class="getdate">
                <div class="input-box">
                    <input type="text" id="search-schedule" value="" placeholder="Tìm kiếm...">
                    <span class="icon" style=" position: absolute; height: 100%; top: 0; left: 0; width: 60px; border-radius: 6px; display: flex; justify-content: center; background-color: #fff;">
                        <i class="uil uil-search search-icon"></i>
                    </span>
                    <i class="uil uil-times close-icon"></i>
                </div>

                <button type="button" class="report-btn" data-bs-toggle="modal" data-bs-target="#scheduleModal">
                    Thêm suất chiếu
                </button>

                <!-- Modal -->
                <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="float: left">
                        <div class="modal-content" style=" margin-left: 19rem; height: 28.5rem!important; width: 50rem;">
                            <div class="modal-header">
                                <h1 style="padding-left: 5px; border-left: 6px solid rgb(3 78 162 / 1); font-weight: 500; text-transform: uppercase; font-size: 17px !important;" class="modal-title fs-5" id="exampleModalLabel">Thêm Suất Chiếu</h1>
                                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                            </div>
                            <div class="modal-body" style=" padding-top: 0; padding-bottom: 0;">
                                <div class="add-schedule row">
                                    <div class="col-md-7">
                                        <div class="row movie-name my-3">
                                            <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Chọn phim</label>
                                            <select id="movieSelected" style=" margin-left: 12px; margin-top: 4px;" class="form-select">
                                                @foreach (var movie in ViewBag.MovieList)
                                                {
                                                    <option value="@movie.id">@movie.title</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="row movie-date my-3">
                                            <div class="col-md-6">
                                                <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Ngày chiếu</label>
                                                <div class="datetime-picker position-relative">
                                                    <i class="far fa-calendar-alt position-absolute"></i>
                                                    <input id="movieDate" name="selectedTime" type="date" style="border: 1px solid #ccc; border-radius: 5px; padding-left: 2rem; height: 38px;" placeholder="Chọn ngày" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Chọn rạp</label>
                                                <select id="roomSelected" style="width: 14.3rem;" class="form-select">
                                                    @*<option selected></option>*@
                                                    @foreach (var room in ViewBag.RoomList)
                                                    {
                                                        <option value="@room.id">@room.room_name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row movie-schedule my-3">
                                            <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Suất chiếu</label>
                                            <div id="schedule-valid" style="margin: 3px 11px; border: 1px solid #ccc; border-radius: 6px; overflow: auto; text-align: center; height: 11rem;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 px-4 py-3">
                                        <div class="movie-item-selected bg-white">
                                            <div class="row movie-selected-detail">
                                                <div class="col-md-4 movie-img-wrapper">
                                                    <img class="movie-selected-img" src="~/assets/images/movie/unname-movie.svg" alt="">
                                                </div>
                                                <div class="col-md-7 mx-2 movie-name-wrapper">
                                                    <div class="row mx-2">
                                                        <span class="movie-selected-name"></span>
                                                        <span class="movie-selected-date"></span>
                                                        <span class="movie-selected-room"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row dashed-line"></div>
                                            <div class="row align-items-center total-money">
                                                <div class="col-md">
                                                    <span>Đã chọn</span>
                                                </div>
                                                <div class="col-auto justify-content-end money-item">
                                                    <span id="sum-money">0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center align-items-center ticket-next-btn">
                                            <div class="continue-item justify-content-center">
                                                <button class="my-4 continueBtn un-click">
                                                    Thêm suất
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<input id="selectedDate" name="selectedTime" type="date" />*@
                <div class="position-relative">
                    <i class="far fa-calendar-alt position-absolute"></i>
                    <input id="selectedDate" name="selectedTime" type="date" style="outline: none; padding-left: 2rem; height: 3rem; " placeholder="Chọn ngày" />
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="movie-list" role="tabpanel" @*aria-labelledby="list-profile-list"*@>
                    <table class="table" id="resultTable">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Tên Phim</th>
                                <th scope="col">Thời Lượng</th>
                                <th scope="col">Suất Chiếu</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="schedule-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="float: left">
                    <div class="modal-content" style="width: 72rem; height:auto; margin-left: 7rem">
                        <div class="row schedule-detail-content m-2">
                            <div class="col-md-4" style="border-right: 2px solid rgb(3 78 162 / 1);">
                                <div class="row modal-header">
                                    <h1 style="padding-left: 5px; border-left: 6px solid rgb(3 78 162 / 1); font-weight: 500; text-transform: uppercase; font-size: 17px !important;">Chi tiết suất chiếu</h1>
                                </div>
                                <div class="row my-3 mv-name">
                                    <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Tên phim</label>
                                    <span style=" margin-left: 12px; margin-top: 4px;">
                                    </span>
                                </div>

                                <div class="row my-3 mv-date">
                                    <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Ngày chiếu</label>
                                    <span style=" margin-left: 12px; margin-top: 4px;">
                                    </span>
                                </div>

                                <div class="row my-3 mv-room">
                                    <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Rạp chiếu</label>
                                    <span style=" margin-left: 12px; margin-top: 4px;">
                                    </span>
                                </div>

                                <div class="row my-3 mv-showtimes">
                                    <label style="color: rgb(119 119 119 / 1); font-weight: 600; font-size: 13px;">Suất chiếu</label>
                                </div>
                                <div class="row text-center align-items-center ticket-next-btn">
                                    <div class="continue-item justify-content-center">
                                        <button class="my-4 btn removeBtn un-click">
                                            Xóa
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="row modal-header">
                                    <h1 style="padding-left: 5px; border-left: 6px solid rgb(3 78 162 / 1); font-weight: 500; text-transform: uppercase; font-size: 17px !important;">Danh sách ghế</h1>
                                </div>
                                <div class="row my-3 seat-status">
                                    <div class="col-md-4 total-seat"></div>
                                    <div class="col-md-4 booked-seat"></div>
                                    <div class="col-md-4 available-seat"></div>
                                </div>

                                <div class="row seat-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div @*style="display: flex; align-items: center"*@ class="modal fade" id="removeSchedule" tabindex="-1" aria-labelledby="remove-schedule" aria-hidden="true">
                <div class="modal-dialog" style="display: flex; justify-content: center">
                    <div class="modal-content" style="width: 400px; height: 300px; margin-top: 8rem;">
                        <img src="~/assets/images/subimg/ohayoucinema.svg" class="rounded mx-auto d-block" alt="" style="margin-top: 2rem">
                        <p style="font-weight: 500; display: flex; margin-top: 1rem; justify-content: center;">Bạn có chắc chắn muốn xóa suất chiếu này?</p>

                        <div class="option">
                            <button class="confirmBtn">Xác nhận</button>
                            <button class="cancelBtn" data-bs-dismiss="modal" aria-label="Close">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="toast-mess">
        <div class="toast-mess-content">
            <i class="fas fa-solid fa-check check"></i>
            <i class="ti-close error"></i>
            <div class="message">
                <span class="text text-1"></span>
                <span class="text text-2"></span>
            </div>
        </div>

        <i class="fa-solid fa-xmark close"></i>
        <div class="progress-btn"></div>
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        let inputBox = document.querySelector(".input-box"),
            searchIcon = document.querySelector(".icon"),
            closeIcon = document.querySelector(".close-icon");
        searchIcon.addEventListener("click", () => inputBox.classList.add("open"));
        closeIcon.addEventListener("click", () => inputBox.classList.remove("open"));
        flatpickr("#selectedDate", {
            dateFormat: "Y-m-d",
        });
        flatpickr("#movieDate", {
            dateFormat: "Y-m-d",
        });
    </script>


</body>
</html>

<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var fp = flatpickr("#movieDate", {
        dateFormat: "Y-m-d",
    });

    var chosenSchedule = []
    var roomId = 0
    let timer1, timer2;

    function showtoastmess(success, message1, message2) {
        $('.text-1').text(message1);
        $('.text-2').text(message2);
        if (success) {
            $('.check').show();
            $('.error').hide();
        } else {
            $('.check').hide();
            $('.error').show();
        }
        $('.toast-mess').addClass("active");
        $('.progress-btn').addClass("active");

        timer1 = setTimeout(() => {
            $('.toast-mess').removeClass("active");
        }, 5000); // 1s = 1000 milliseconds

        timer2 = setTimeout(() => {
            $('.progress-btn').removeClass("active");
        }, 5300);
    }

    var selectedDate = ""
    $('#selectedDate').change(function () {
        selectedDate = $('#selectedDate').val();
    });

    $('#search-schedule').on('input', function () {
        var query = $(this).val();

        $.ajax({
            url: '/Admin/Schedule/SearchSchedule',
            type: 'GET',
            data: { query: query, displayDate: selectedDate },
            success: function (response) {
                var resultTable = $('#resultTable tbody');
                resultTable.empty();

                if (response.success) {
                    var movieList = response.movieList;

                    $.each(movieList, function (index, movie) {
                        var showTimesHtml = '';
                        $.each(movie.ShowTimes, function (i, showTime) {
                            showTimesHtml += '<span style="border: 1px solid #f26b36 !important; width: 80px;" class="btn mx-1 my-1">' + showTime + '</span> ';
                        });

                        var movieHtml = '<tr>';
                        movieHtml += '<th scope="row"><img style="border-radius: 5px;width: 50px" src="' + movie.MovieImage + '" /></th>';
                        movieHtml += '<td>' + movie.MovieTitle + '</td>';
                        movieHtml += '<td>' + movie.Duration + ' phút</td>';
                        movieHtml += '<td>' + showTimesHtml + '</td>';
                        movieHtml += '<td><a class="open-modal" style="color: #F26B38;" data-bs-toggle="modal" data-bs-target="#schedule-detail" data-movie-id="' + movie.MovieId + '" data-display-date="' + selectedDate + '" data-room-id="' + roomId + '"><i class="fa-regular fa-pen-to-square"></i></a></td>';
                        movieHtml += '</tr>';

                        resultTable.append(movieHtml);
                    });

                    getScheduleDetail();
                } else {
                    resultTable.append('<tr><td colspan="5">Không tìm thấy suất chiếu</td></tr>');
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $(document).ready(function () {
        $('#selectedDate').change(function () {
            var selectedDate = $('#selectedDate').val();

            updateScheduleList(selectedDate, roomId)
        });
    })

    $(document).on('click', '.room-item', function (e) {
        roomId = parseInt($(this).attr('id').substring(5));
        console.log("Room " + roomId)
        var selectedDate = $('#selectedDate').val();
        $.ajax({
            url: '/Admin/Schedule/MovieByRoom',
            type: 'POST',
            data: {
                roomId: roomId,
                displayDate: selectedDate
            },
            success: function (response) {
                var resultTable = $('#resultTable tbody');
                resultTable.empty();
                var movieList = response.movieList
                console.log(movieList)

                $.each(movieList, function (index, movie) {
                    var showTimesHtml = '';
                    $.each(movie.ShowTimes, function (i, showTime) {
                        showTimesHtml += '<span style="border: 1px solid #f26b36 !important; width: 80px;" class="btn mx-1 my-1">' + showTime + '</span> ';
                    });

                    var movieHtml = '<tr>';
                    movieHtml += '<th scope="row"><img style="border-radius: 5px;width: 50px" src="' + movie.MovieImage + '" /></th>';
                    movieHtml += '<td>' + movie.MovieTitle + '</td>';
                    movieHtml += '<td>' + movie.Duration + ' phút</td>';
                    movieHtml += '<td>' + showTimesHtml + '</td>';
                    movieHtml += '<td><a class="open-modal" style="color: #F26B38;" data-bs-toggle="modal" data-bs-target="#schedule-detail" data-movie-id="' + movie.MovieId + '" data-display-date="' + selectedDate + '" data-room-id="' + roomId + '"><i class="fa-regular fa-pen-to-square"></i></a></td>';
                    movieHtml += '</tr>';

                    resultTable.append(movieHtml);
                });
                getScheduleDetail()
            },
            error: function (err) {
                console.log(err)
            }
        })
    })
    $(document).ready(function () {
        $("#movieSelected").change(function () {
            var selectedMovie = $(this).val();
            chosenSchedule.splice(0, chosenSchedule.length)
            console.log("Movie" + selectedMovie)
            $.ajax({
                url: '/Admin/Schedule/MovieSelected',
                type: 'POST',
                data: { movieId: selectedMovie },
                success: function (response) {
                    if (response.success) {
                        $('.movie-selected-name').text(response.displayDate.movieTitle)
                        $('.movie-selected-img').attr({
                            'src': response.displayDate.movieImage
                        })
                        fp.set("minDate", response.displayDate.dateFrom);
                        fp.set("maxDate", response.displayDate.dateEnd);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#movieDate').change(function () {
            var selectedDate = $('#movieDate').val();
            console.log("Date " + selectedDate)
            $('.movie-selected-date').text(selectedDate)
        });
    })

    $(document).ready(function () {
        $('#roomSelected').change(function () {
            var roomName = $('#roomSelected option:selected').text()
            $('.movie-selected-room').text(roomName)
            var selectedDate = $('#movieDate').val();
            var selectRoom = $('#roomSelected').val();
            var selectedMovie = $('#movieSelected').val();
            chosenSchedule.splice(0, chosenSchedule.length)
            $.ajax({
                url: '/Admin/Schedule/GetScheduleValid',
                type: 'POST',
                data: {
                    movieId: selectedMovie,
                    displayDate: selectedDate,
                    roomId: selectRoom
                },
                success: function (response) {
                    var scheduleValid = $('#schedule-valid');
                    scheduleValid.empty();
                    var schedule = response.allschedule

                    $.each(schedule, function (index, item) {
                        var showTimesHtml = '';
                        showTimesHtml += '<span id="' + item.ScheduleId + '" class="btn my-2 mx-1" style="border: 1px solid #f26b36 !important; width: 80px;">' + item.Schedule + '</span>';
                        scheduleValid.append(showTimesHtml);
                    });
                },
                error: function (error) {
                    // Xử lý lỗi nếu có
                    console.log(error);
                }
            });
        });
    })



    $(document).on('click', '.movie-schedule span', function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            var index = chosenSchedule.indexOf(id);
            if (index > -1) {
                chosenSchedule.splice(index, 1);
            }
        } else {
            $(this).addClass('selected');
            chosenSchedule.push(id);
        }
        var totalSchedule = $('.movie-schedule .selected').length;
        $('#sum-money').text(totalSchedule + " suất")
        console.log("chosenSchedule: " + chosenSchedule)
        updateContinueButtonState()
    })

    $(document).on('click', '.continueBtn', function () {
        var selectedDate = $('#movieDate').val();
        var selectRoom = $('#roomSelected').val();
        var selectedMovie = $('#movieSelected').val();
        var data = {
            movieId: selectedMovie,
            displayDate: selectedDate,
            scheduleDetail: chosenSchedule,
            roomId: selectRoom
        }
        $.ajax({
            url: '/Admin/Schedule/AddSchedule',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                if (response.success) {
                    $('#scheduleModal').modal('hide')
                    updateScheduleList(selectedDate, selectRoom)
                    showtoastmess(true, 'Thành công', 'Thêm suất chiếu thành công!')
                }
                else {
                    $('#scheduleModal').modal('hide')
                    showtoastmess(false, 'Lỗi', response.message)
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    })

    function updateContinueButtonState() {
        var totalSchedule = $('.movie-schedule .selected').length;
        console.log("Schedule " + totalSchedule)
        if (totalSchedule === 0) {
            $('.continueBtn').addClass('un-click');
        } else {
            $('.continueBtn').removeClass('un-click');
        }
    }

    function updateRemoveButtonState() {
        var totalSchedule = $('.mv-showtimes .schedule-selected').length;
        if (totalSchedule === 0) {
            $('.removeBtn').addClass('un-click')
        }
        else {
            $('.removeBtn').removeClass('un-click')
        }
    }

    $(document).ready(function () {
        updateContinueButtonState();
        updateRemoveButtonState();
    });

    function getScheduleDetail() {
        $('.open-modal').click(function () {
            var movieId = $(this).data('movie-id');
            var displayDate = $(this).data('display-date');
            var RoomId = $(this).data('room-id');
            $('.seat-list').html('')
            $('.total-seat').text('');
            $('.booked-seat').text('');
            $('.available-seat').text('');

            $.ajax({
                url: '/Admin/Schedule/GetScheduleDetails',
                type: 'POST',
                data: {
                    movieId: movieId,
                    displayDate: displayDate,
                    roomId: RoomId
                },
                success: function (response) {
                    if (response.success) {
                        var details = response.details;
                        $('.mv-name span').text(details.MovieTitle);
                        $('.mv-date span').text(details.DisplayDate);
                        $('.mv-room span').text(details.RoomName);
                        var showTimesHtml = '';
                        $.each(details.ShowTimes, function (i, showTime) {
                            showTimesHtml += '<span data-room-schedule="' + showTime.RoomScheduleDetailId + '" data-schedule-detail="' + showTime.ScheduleDetailId + '" class="mx-3 my-1 schedule-detail-item">' + showTime.ShowTime + '</span> ';
                        });
                        $('.mv-showtimes').html(showTimesHtml);
                        var seatsHtml = '';
                    } else {
                        console.log(response.message);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        })
    }

    $(document).on('click', '.schedule-detail-item', function () {
        var roomScheduleDetailId = $(this).data('room-schedule');
        var scheduleDetailId = $(this).data('schedule-detail');
        removeScheduleSelected()
        $(this).addClass('schedule-selected')
        updateRemoveButtonState()
        $('.seat-list').html('')
        $('.total-seat').text('');
        $('.booked-seat').text('');
        $('.available-seat').text('');

        $.ajax({
            url: '/Admin/Schedule/GetSeatDetails',
            type: 'POST',
            data: {
                roomScheduleDetailId: roomScheduleDetailId
            },
            success: function (response) {
                if (response.success) {
                    var seatList = response.seatList;
                    var groupedSeats = {};

                    var totalSeats = seatList.length;
                    var bookedSeats = seatList.filter(seat => seat.IsBooked).length;
                    var availableSeats = totalSeats - bookedSeats;

                    $.each(seatList, function (index, seat) {
                        var row = seat.Seat.charAt(0);
                        if (!groupedSeats[row]) {
                            groupedSeats[row] = [];
                        }
                        groupedSeats[row].push(seat);
                    });

                    var seatHtml = '';
                    var sortedRows = Object.keys(groupedSeats).sort();

                    $.each(sortedRows, function (index, row) {
                        var seats = groupedSeats[row];
                        seats.sort(function (a, b) {
                            return parseInt(a.Seat.slice(1)) - parseInt(b.Seat.slice(1));
                        });

                        seatHtml += '<div class="seat-row row my-2 justify-content-center align-items-center">';
                        $.each(seats, function (index, seat) {
                            if (seat.IsBooked === true) {
                                seatHtml += '<span class="seat col-md-1 mx-2 seat-sold">' + seat.Seat + '</span> ';
                            }
                            else {
                                seatHtml += '<span class="seat col-md-1 mx-2">' + seat.Seat + '</span> ';
                            }
                        });
                        seatHtml += '</div>';
                    });

                    $('.seat-list').html(seatHtml);

                    $('.total-seat').text('Tổng số ghế: ' + totalSeats);
                    $('.booked-seat').text('Đã đặt: ' + bookedSeats);
                    $('.available-seat').text('Còn trống: ' + availableSeats);

                } else {
                    $('#schedule-detail').modal('hide')
                    showtoastmess(false, 'Lỗi', response.message)
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    })

    function removeScheduleSelected() {
        $('.mv-showtimes span').removeClass('schedule-selected')
    }

    function RemoveSchedule() {
        $(document).off('click', '.removeBtn').on('click', '.removeBtn', function () {
            var scheduleDetailId = $('.mv-showtimes .schedule-selected').map(function () {
                return $(this).data('schedule-detail');
            }).get();
            console.log("selectedScheduleIds: " + scheduleDetailId);
            if (scheduleDetailId.length === 0) {
                $('#schedule-detail').modal('hide')
                showtoastmess(false,"Lỗi", "Vui lòng chọn ít nhất một suất chiếu để xóa!");
                return;
            }

            var bookedSeat = $('.seat-sold').length;
            if (bookedSeat != 0) {
                $('#schedule-detail').modal('hide')
                showtoastmess(false, "Lỗi", "Không thể xóa suất chiếu đã có ghế được chọn!");
                return;
            }
            $('#removeSchedule').modal('show')
            $('#schedule-detail').modal('hide')
            $(document).off('click', '.confirmBtn').on('click', '.confirmBtn', function () {
                $.ajax({
                    url: '/Admin/Schedule/RemoveSchedule',
                    type: 'POST',
                    data: {
                        scheduleDetailId: scheduleDetailId
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#removeSchedule').modal('hide')
                            var selectedDate = $('#selectedDate').val()
                            updateScheduleList(selectedDate, roomId)
                            showtoastmess(true, 'Thành công', response.message)
                        }
                        else {
                            $('#removeSchedule').modal('hide')
                            showtoastmess(false, 'Lỗi', response.message)
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })
        })
    }

    $(document).ready(function () {
        RemoveSchedule();
    });

    function updateScheduleList(selectedDate, roomId) {
        $.ajax({
            url: '/Admin/Schedule/GetSchedule',
            type: 'POST',
            data: {
                displayDate: selectedDate,
                roomId: roomId
            },
            success: function (response) {
                var resultTable = $('#resultTable tbody');
                resultTable.empty();
                var movieList = response.movieList

                $.each(movieList, function (index, movie) {
                    var showTimesHtml = '';
                    $.each(movie.ShowTimes, function (i, showTime) {
                        showTimesHtml += '<span style="border: 1px solid #f26b36 !important; width: 80px;" class="btn mx-1 my-1">' + showTime + '</span> ';
                    });

                    var movieHtml = '<tr>';
                    movieHtml += '<th scope="row"><img style="border-radius: 5px;width: 50px" src="' + movie.MovieImage + '" /></th>';
                    movieHtml += '<td>' + movie.MovieTitle + '</td>';
                    movieHtml += '<td>' + movie.Duration + ' phút</td>';
                    movieHtml += '<td>' + showTimesHtml + '</td>';
                    movieHtml += '<td><a class="open-modal" style="color: #F26B38;" data-bs-toggle="modal" data-bs-target="#schedule-detail" data-movie-id="' + movie.MovieId + '" data-display-date="' + selectedDate + '" data-room-id="' + roomId + '"><i class="fa-regular fa-pen-to-square"></i></a></td>';
                    movieHtml += '</tr>';

                    resultTable.append(movieHtml);
                });

                getScheduleDetail();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>