@functions {
    // Phương thức để chuyển đổi ngày trong tuần sang tiếng Việt
    public string TranslateDayOfWeek(DayOfWeek dayOfWeek)
    {
        switch (dayOfWeek)
        {
            case DayOfWeek.Monday:
                return "Thứ Hai";
            case DayOfWeek.Tuesday:
                return "Thứ Ba";
            case DayOfWeek.Wednesday:
                return "Thứ Tư";
            case DayOfWeek.Thursday:
                return "Thứ Năm";
            case DayOfWeek.Friday:
                return "Thứ Sáu";
            case DayOfWeek.Saturday:
                return "Thứ Bảy";
            case DayOfWeek.Sunday:
                return "Chủ Nhật";
            default:
                return "";
        }
    }
}

@{
    var currentUser = (CinemaWeb.Models.user)HttpContext.Current.Session["user"];
    DateTime currentDate = DateTime.Now;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/assets/images/logo/cinema-logo.png">
    <title>Ohayou Cinema</title>
    <link rel="stylesheet" href="~/Areas/User/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Areas/User/assets/css/moviedetail.css?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @if (currentUser != null)
    {
        <div class="header">
            <div class="container-fluid  p-4">
                <div class="row align-items-center">
                    <div class="col-md-2 px-5 py-1">
                        <a href="/User/UserHome/" class="navbar-brand">
                            <img src="~/assets/images/logo/cinema-logo.png" alt="Ohayou Cinema" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-2 buyticket-area">
                        <button type="button" class="buyticket-btn btn">
                            <img src="~/assets/images/subimg/btn-ticket.png" alt="" class="img-buy-btn img-fluid">
                        </button>
                    </div>
                    <div class="col-md-4" style="padding: 0">
                        <ul class="list-gr-1 list-group list-group-horizontal">
                            <li class="list-group-item movie-area">
                                Phim
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="movie-status list-group">
                                    <li class="movie-sta-text-1 py-1">
                                        <i class="fa-solid fa-film"></i>
                                        <a href="#playing">PHIM ĐANG CHIẾU</a>
                                    </li>
                                    <div class="movie-list py-1">
                                        <div class="row">
                                            @if (ViewBag.MovieList != null)
                                            {
                                                var count = 0;
                                                foreach (var movie in ViewBag.MovieList)
                                                {
                                                    if (movie.movie_status == true && count < 4)
                                                    {
                                                        <div class="col-md-3 sub-movie-list">
                                                            <a href="/User/BookTicket/MovieDetail/@movie.id" class="text-dark-emphasis movie-name">
                                                                <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                                                                <button class="buy-ticket-btn btn">
                                                                    <i class="ti-ticket"></i>
                                                                    Mua vé
                                                                </button>
                                                                <span>@movie.title</span>
                                                            </a>
                                                        </div>
                                                        count++;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <li class="movie-sta-text-2 py-1">
                                        <i class="fa-solid fa-film"></i>
                                        <a href="#coming">PHIM SẮP CHIẾU</a>
                                    </li>
                                    <div class="movie-list py-1">
                                        <div class="row">
                                            @if (ViewBag.MovieList != null)
                                            {
                                                var count = 0;
                                                foreach (var movie in ViewBag.MovieList)
                                                {
                                                    if (movie.movie_status == false && count < 4)
                                                    {
                                                        <div class="col-md-3 sub-movie-list">
                                                            <a href="/User/BookTicket/MovieDetail/@movie.id" class="text-dark-emphasis movie-name">
                                                                <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                                                                <button class="buy-ticket-btn btn">
                                                                    <i class="ti-ticket"></i>
                                                                    Mua vé
                                                                </button>
                                                                <span>@movie.title</span>
                                                            </a>
                                                        </div>
                                                        count++;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="list-group-item cinema-corner text-center">
                                Góc Điện Ảnh
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="sub-list-gr-1 list-group">
                                    <li><a href="/User/BookTicket/MovieType">Thể loại phim</a></li>
                                    <li><a href="/User/BookTicket/ActorList">Diễn viên</a></li>
                                    <li><a href="#">Đạo diễn</a></li>
                                    <li><a href="#">Bình luận phim</a></li>
                                </ul>
                            </li>

                            <li class="list-group-item event-list text-center">
                                Sự Kiện
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="sub-list-gr-1 list-group">
                                    <li><a href="#">Ưu đãi</a></li>
                                    <li><a href="/User/BookTicket/BestMovie">Phim hay tháng</a></li>
                                </ul>
                            </li>

                            <li class="list-group-item ticket-price text-center">
                                Rạp/Giá vé
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="sub-list-gr-1 list-group">
                                    <li><a href="/User/UserHome/OhayouCinema">Rạp Đà Nẵng</a></li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <button class="search-btn btn">
                            <i class="search-icon ti-search"></i>
                        </button>
                    </div>
                    <div class="login-area col-md-3">
                        <div class="row">
                            <div class="col-auto">
                                <div class="show-login js-show-login">
                                    <div class="account-wrapper">
                                        <img src="~/assets/images/subimg/account.png" alt="" class="img-fluid account-img">
                                        <ul class="list-group account-list">
                                            <li class="list-group-item">
                                                <a href="/User/UserHome/UserProfile">
                                                    <i class="fa-solid fa-id-badge account-icon"></i>
                                                    Tài Khoản
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/User/UserHome/HistoryTicket">
                                                    <i class="fa-solid fa-list-ol account-icon"></i>
                                                    Lịch Sử
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/Home/SignOut" class="js-logout">
                                                    <i class="fa-solid fa-arrow-right-from-bracket account-icon"></i>
                                                    Đăng Xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="user_name  row1 " style="font-weight: 600; font-size: small;">
                                    <img class="icon" src="~/Areas/User/assets/images/logo/logomini.png" alt="">
                                    @currentUser.full_name
                                </div>
                                <div class="row1" style="font-size: small; font-weight: 500;">
                                    <img class="icon" src="~/Areas/User/assets/images/logo/icon-gift.190935e4.png" alt="">
                                    0 Star
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="header">
            <div class="container-fluid  p-4">
                <div class="row align-items-center">
                    <div class="col-md-2 px-5 py-1">
                        <a href="/Home/Index">
                            <img src="~/assets/images/logo/cinema-logo.png" alt="Ohayou Cinema" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-2 buyticket-area">
                        <a href="/User/BookTicket/BookTicket" class="buyticket-btn btn">
                            <img src="~/assets/images/subimg/btn-ticket.png" alt="" class="img-buy-btn img-fluid">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <ul class="list-gr-1 list-group list-group-horizontal">
                            <li class="list-group-item movie-area">
                                Phim
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="movie-status list-group">
                                    <li class="movie-sta-text-1 py-1">
                                        <i class="fa-solid fa-film"></i>
                                        <a href="#playing">PHIM ĐANG CHIẾU</a>
                                    </li>
                                    <div class="movie-list py-1">
                                        <div class="row">
                                            @if (ViewBag.MovieList != null)
                                            {
                                                var count = 0;
                                                foreach (var movie in ViewBag.MovieList)
                                                {
                                                    if (movie.movie_status == true && count < 4)
                                                    {
                                                        <div class="col-md-3 sub-movie-list">
                                                            <a href="/User/BookTicket/MovieDetail/@movie.id" class="text-dark-emphasis movie-name">
                                                                <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                                                                <button class="buy-ticket-btn btn">
                                                                    <i class="ti-ticket"></i>
                                                                    Mua vé
                                                                </button>
                                                                <span>@movie.title</span>
                                                            </a>
                                                        </div>
                                                        count++;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <li class="movie-sta-text-2 py-1">
                                        <i class="fa-solid fa-film"></i>
                                        <a href="#coming">PHIM SẮP CHIẾU</a>
                                    </li>
                                    <div class="movie-list py-1">
                                        <div class="row">
                                            @if (ViewBag.MovieList != null)
                                            {
                                                var count = 0;
                                                foreach (var movie in ViewBag.MovieList)
                                                {
                                                    if (movie.movie_status == false && count < 4)
                                                    {
                                                        <div class="col-md-3 sub-movie-list">
                                                            <a href="/User/BookTicket/MovieDetail/@movie.id" class="text-dark-emphasis movie-name">
                                                                <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                                                                <button class="buy-ticket-btn btn">
                                                                    <i class="ti-ticket"></i>
                                                                    Mua vé
                                                                </button>
                                                                <span>@movie.title</span>
                                                            </a>
                                                        </div>
                                                        count++;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="list-group-item cinema-corner text-center">
                                Góc Điện Ảnh
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="sub-list-gr-1 list-group">
                                    <li><a href="/User/BookTicket/MovieType">Thể loại phim</a></li>
                                    <li><a href="/User/BookTicket/ActorList">Diễn viên</a></li>
                                    <li><a href="#">Đạo diễn</a></li>
                                    <li><a href="#">Bình luận phim</a></li>
                                </ul>
                            </li>

                            <li class="list-group-item event-list text-center">
                                Sự Kiện
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="sub-list-gr-1 list-group">
                                    <li><a href="#">Ưu đãi</a></li>
                                    <li><a href="/User/BookTicket/BestMovie">Phim hay tháng</a></li>
                                </ul>
                            </li>

                            <li class="list-group-item ticket-price text-center">
                                Rạp/Giá vé
                                <i class="ti-angle-down down-btn"></i>
                                <ul class="sub-list-gr-1 list-group">
                                    <li><a href="/User/UserHome/OhayouCinema">Rạp Đà Nẵng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <button class="search-btn btn">
                            <i class="search-icon ti-search"></i>
                        </button>
                    </div>
                    <div class="login-area col-md-2">
                        <div class="hidden-login js-hidden-login">
                            <button class="login-btn btn js-login-btn">
                                Đăng nhập
                            </button>
                            <img class="g-star-img" src="~/assets/images/logo/gstar.svg" alt="G-star">
                        </div>
                        <div class="modal signin-modal" id="js-modal">
                            <div class="login-container" id="js-login-container">
                                <div class="form-container sign-up">
                                    <form method="post" action="/Home/SignUp" class="signup-form">
                                        @Html.AntiForgeryToken()
                                        <h1>Tạo Tài Khoản</h1>
                                        <input name="name" type="text" required placeholder="Name">
                                        <input name="email" type="email" required placeholder="Email">
                                        <input name="dateofbirth" type="date" required placeholder="Date Of Birth">
                                        <input name="pass" type="password" required placeholder="Password">
                                        <input name="confirmpass" type="password" required placeholder="Confirm Password">
                                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                                        <span class="text-danger error-message">
                                        </span>
                                        <button type="submit" class="js-signup">Đăng Ký</button>
                                    </form>
                                </div>

                                <div class="form-container sign-in">
                                    <form method="post" action="/Home/SignIn" class="signin-form">
                                        @Html.AntiForgeryToken()
                                        <h1>Đăng Nhập</h1>
                                        <input name="email" type="email" required placeholder="Email">
                                        <input name="pass" type="password" required placeholder="Password">
                                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                                        <span class="text-danger error-message">
                                        </span>
                                        <a style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#forgetPass">Quên mật khẩu?</a>
                                        <button type="submit" class="js-signin">Đăng Nhập</button>
                                    </form>
                                </div>
                                <div class="toggle-container">
                                    <div class="toggle">
                                        <div class="toggle-panel toggle-left">
                                            <h1>Đã có tài khoản?</h1>
                                            <p>Đăng nhập với tài khoản đã có</p>
                                            <button class="hidden" id="js-login">Đăng Nhập</button>
                                        </div>
                                        <div class="toggle-panel toggle-right">
                                            <h1>Chưa có tài khoản?</h1>
                                            <p>Đăng ký tài khoản với thông tin cá nhân của bạn</p>
                                            <button class="hidden" id="js-register">Đăng Ký</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div @*style="display: flex; align-items: center"*@ class="modal fade" id="forgetPass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="display: flex; justify-content: center">
                                        <div class="modal-content" style="width: 400px; height: 450px">
                                            <img src="~/assets/images/subimg/ohayoucinema.svg" class="rounded mx-auto d-block" alt="" style="margin-top: 2rem">
                                            <p style="font-weight: 500; display: flex; margin-top: 1rem; justify-content: center;">Quên Mật Khẩu?</p>

                                            <form class="forgetPass-form">
                                                <span style="font-size: 13px">
                                                    Vui lòng cung cấp email đăng nhập, chúng tôi sẽ gửi mã cho bạn.
                                                </span>
                                                <label style="color: rgb(119 119 119 /1); font-weight: 600; font-size: 12px">Email</label>
                                                <input name="registerEmail" type="email" required placeholder="Nhập email đã đăng ký" />
                                                <span class="text-danger response-mess"></span>
                                                <button type="submit">Cấp lại mật khẩu</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div @*style="display: flex; align-items: center"*@ class="modal fade" id="verifyCode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="display: flex; justify-content: center">
                                        <div class="modal-content" style="width: 400px; height: 450px">
                                            <img src="~/assets/images/subimg/ohayoucinema.svg" class="rounded mx-auto d-block" alt="" style="margin-top: 2rem">
                                            <p style="font-weight: 500; display: flex; margin-top: 1rem; justify-content: center;">Xác Thực Email</p>

                                            <form class="verifyCode-form">
                                                <span style="font-size: 13px; margin: 1rem 0;">
                                                    Vui lòng nhập mã xác thực chúng tôi đã gửi vào email của bạn đã đăng ký.
                                                </span>
                                                <label style="color: rgb(119 119 119 /1); font-weight: 600; font-size: 12px">Verify Code</label>
                                                <input name="verifyCode" type="text" required placeholder="Nhập mã xác thực" />
                                                <span class="text-danger response-mess"></span>
                                                <button type="submit">Xác nhận</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container-fluid wrapper">
        <div class="mv-trailer">
            @if (ViewBag.movieItem.url_large_image != null)
            {
                <img src="@ViewBag.movieItem.url_large_image" alt="" class="mv-img">
            }
            else
            {
                <img src="@ViewBag.movieItem.url_image" alt="" class="mv-img">
            }
            <div class="trailer-btn">
                <a href="#trailer" class="accordion-toggle" data-bs-toggle="modal" data-bs-target="#trailer" data-trailer-url="@ViewBag.movieItem.url_trailer" aria-expanded="false" target="_blank">
                    <img src="~/Areas/User/assets/images/btn/button-play.2f9c0030.png" alt="" class="play-img object-cover" loading="lazy">
                </a>
            </div>
            <div class="modal fade modal-lg" id="trailer">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <iframe id="trailerVideo" width="100%" height="555" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row content-wrapper">
                <div class="col-md-9 left">
                    <div class="row mv-detail">
                        <div class="col-md-4 poster">
                            <img src="@ViewBag.movieItem.url_image" alt="" class="mv-poster">
                        </div>
                        <div class="col-md-8 mv-infor">
                            <div class="row mv-name ">@ViewBag.movieItem.title</div>
                            <div class="row mv-time">
                                <div class="col-md-2 duration">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="inline-block align-baseline mr-1"><path d="M7 0C3.13306 0 0 3.13306 0 7C0 10.8669 3.13306 14 7 14C10.8669 14 14 10.8669 14 7C14 3.13306 10.8669 0 7 0ZM7 12.6452C3.88105 12.6452 1.35484 10.119 1.35484 7C1.35484 3.88105 3.88105 1.35484 7 1.35484C10.119 1.35484 12.6452 3.88105 12.6452 7C12.6452 10.119 10.119 12.6452 7 12.6452ZM8.74435 9.69839L6.34798 7.95685C6.26048 7.89193 6.20968 7.79032 6.20968 7.68306V3.04839C6.20968 2.8621 6.3621 2.70968 6.54839 2.70968H7.45161C7.6379 2.70968 7.79032 2.8621 7.79032 3.04839V7.04798L9.67581 8.41976C9.82823 8.52984 9.85927 8.74153 9.74919 8.89395L9.21855 9.625C9.10847 9.7746 8.89677 9.80847 8.74435 9.69839Z" fill="#F58020"></path></svg>
                                    <span>@ViewBag.movieItem.duration_minutes phút</span>
                                </div>
                                <div class="col-md-2 release-date">
                                    <svg width="12" height="14" viewBox="0 0 12 14" fill="none" class="inline-block align-baseline mr-1"><path d="M10.7143 1.75H9.42857V0.328125C9.42857 0.147656 9.28393 0 9.10714 0H8.03571C7.85893 0 7.71429 0.147656 7.71429 0.328125V1.75H4.28571V0.328125C4.28571 0.147656 4.14107 0 3.96429 0H2.89286C2.71607 0 2.57143 0.147656 2.57143 0.328125V1.75H1.28571C0.575893 1.75 0 2.33789 0 3.0625V12.6875C0 13.4121 0.575893 14 1.28571 14H10.7143C11.4241 14 12 13.4121 12 12.6875V3.0625C12 2.33789 11.4241 1.75 10.7143 1.75ZM10.5536 12.6875H1.44643C1.35804 12.6875 1.28571 12.6137 1.28571 12.5234V4.375H10.7143V12.5234C10.7143 12.6137 10.642 12.6875 10.5536 12.6875Z" fill="#F58020"></path></svg>
                                    <span>@ViewBag.movieItem.release_date.ToString("dd/MM/yyyy")</span>
                                </div>
                                <div class="col-md-8"></div>
                            </div>
                            <div class="row mv-rating">
                                <a href="#rating-movie" class="rating accordion-toggle" data-bs-toggle="modal" data-bs-target="#rating-movie" aria-expanded="false">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star text-primary mr-1 hover:text-primary transition duration-500 ease-in-out" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="width: 20px; height: 20px; margin-right: 5px;"><path fill=" #f29538" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path></svg>
                                    <span class="inline-block mr-1 average-rating">@ViewBag.movieItem.rating.ToString("0.0")</span>
                                </a>
                                <span class="inline-block mr-1 vote rating-count">(@ViewBag.RatingCount bình chọn)</span>
                                <div class="modal modal-area" id="rating-movie">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <img src="@ViewBag.movieItem.url_large_image" alt="" class="movie-img">
                                            <h1>@ViewBag.movieItem.title</h1>
                                            <span class="error-mess"></span>
                                            <div class="circle">
                                                <div class="text-center rate">
                                                    <div class="d-flex">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star text-primary mr-1 hover:text-primary transition duration-500 ease-in-out" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="width: 20px; height:20px; "><path fill=" #f29538" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path></svg>
                                                        <span class="mr-1 average-rating">
                                                            @ViewBag.movieItem.rating.ToString("0.0")
                                                        </span>
                                                    </div>
                                                    <span class="mr-1 vote rating-count">(@ViewBag.RatingCount bình chọn)</span>
                                                </div>
                                            </div>
                                            <div class="star-rating">
                                                <ul class="star-list">
                                                    @for (int i = 1; i <= 10; i++)
                                                    {
                                                        <li class="star" data-value="@i">
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" width="24" height="24" class="inline-block">
                                                                    <path fill="#A0A3A7" d="M15.868,28.234l-2.33,9.757c-0.094,0.391,0.057,0.8,0.38,1.038c0.324,0.237,0.757,0.26,1.104,0.054  l8.762-5.203l8.758,5.203c0.158,0.094,0.335,0.141,0.511,0.141c0.209,0,0.417-0.065,0.593-0.194c0.323-0.238,0.474-0.647,0.38-1.038  l-2.33-9.757l7.734-6.554c0.309-0.261,0.43-0.683,0.306-1.068c-0.123-0.385-0.467-0.658-0.87-0.691L28.665,19.08l-3.963-9.25  c-0.157-0.368-0.519-0.606-0.919-0.606s-0.762,0.238-0.919,0.606l-3.966,9.25L8.7,19.921c-0.403,0.033-0.747,0.306-0.87,0.691  c-0.124,0.385-0.003,0.807,0.306,1.068L15.868,28.234z M19.662,21.023c0.369-0.03,0.691-0.262,0.837-0.603l3.284-7.659l3.28,7.658  c0.146,0.341,0.468,0.573,0.837,0.603l8.394,0.692l-6.361,5.391c-0.288,0.243-0.414,0.628-0.326,0.995l1.924,8.055l-7.236-4.299  c-0.314-0.188-0.707-0.188-1.021,0l-7.24,4.3l1.924-8.056c0.088-0.367-0.038-0.752-0.326-0.995l-6.359-5.391L19.662,21.023z"></path>
                                                                </svg>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                                <input type="hidden" id="selectedRating" name="selectedRating" value="0" />
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-6 btn-item1">
                                                    <button class="close">Đóng</button>
                                                </div>
                                                <div class="col-md-6 btn-item2">
                                                    <button id="confirmRating" class="confirm">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen-to-square" class="svg-inline--fa fa-pen-to-square mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 1em;"><path fill="currentColor" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"></path></svg>
                                                        Xác nhận
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mv">
                                <div class="row align-items-center mv-country">
                                    <div class="col-md-2 d">Quốc gia:</div>
                                    <div class="col-md-3 nation-item">@ViewBag.movieItem.country.country_name</div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-2 d">Thể loại:</div>
                                    <div class="col-md-3 type">
                                        <button type="button" class="btn">
                                            <a href="/User/BookTicket/MovieType/mt@(ViewBag.movieItem.movie_type.id)" class="list-item">@ViewBag.movieItem.movie_type.movie_type1</a>
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-2 d">Đạo diễn:</div>
                                    <div class="col-md-10 type">
                                        <button type="button" class="btn">
                                            <a href="/User/BookTicket/DirectorDetail/@ViewBag.movieItem.director.id" class="list-item">@ViewBag.movieItem.director.director_name</a>
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-2 d">Diễn viên:</div>
                                    <div class="col-md-10 type">
                                        <ul class="list-actor">
                                            @foreach (var actor in ViewBag.movieActor)
                                            {
                                                <li class="list-item">
                                                    <button type="button" class="btn">
                                                        <a href="/User/BookTicket/ActorDetail/@actor.actor.id" class="list-item">@actor.actor.actor_name</a>
                                                    </button>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mv-content mt-3 lg:mt-0">
                        <h1 class="text">Nội dung phim</h1>
                        <div class="content-text">
                            <p>
                                <span class="describe">
                                    @ViewBag.movieItem.description
                                </span>
                            </p>
                            <p>
                                <span class="introduce">
                                    <a href="/User/UserHome">Phim mới</a>
                                    <strong>@ViewBag.movieItem.title</strong>
                                    &nbsp;dự kiến ra mắt tại
                                    <em>
                                        <a href="/User/UserHome/OhayouCinema">Ohayou Cinema</a>
                                    </em>
                                    từ @ViewBag.movieItem.release_date.ToString("dd/MM/yyyy")
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="mv-schedule mt-3 lg:mt-0">
                        <h1 class="text">Lịch chiếu</h1>
                        <div class="row datetime-container" role="tabpanel">
                            <div class="row align-items-center date-list">
                                <ul class="list-group list-group-horizontal date-list-side">
                                    @{
                                        if (ViewBag.movieDateList != null)
                                        {
                                            var count = 0;
                                            foreach (var date in ViewBag.movieDateList)
                                            {
                                                if (count > 6)
                                                {
                                                    break;
                                                }
                                                if (date.display_date.display_date1.Month > currentDate.Month || date.display_date.display_date1.Date >= currentDate.Date)
                                                {
                                                    <li class="col-md justify-content-center list-group-item date-time-item" onclick="selectDate('@date.display_date.id', '@ViewBag.movieItem.id')" id="date-@date.display_date.display_date1.ToString("yyMMdd")-li">
                                                        <a class="text-dark-emphasis fw-medium" href="#date-@date.display_date.display_date1.ToString("yyMMdd")" data-bs-toggle="list" data-bs-target="#date-@date.display_date.display_date1.ToString("yyMMdd")" role="tab">
                                                            <span>@TranslateDayOfWeek(date.display_date.display_date1.DayOfWeek)</span>
                                                            <span>@date.display_date.display_date1.ToString("dd/MM")</span>
                                                        </a>
                                                    </li>
                                                    count++;
                                                }
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="tab-content schedule-cinema">
                                <h1 class="text">Ohayou Đà Nẵng</h1>
                                @{
                                    if (ViewBag.movieDateList != null)
                                    {
                                        var count = 0;
                                        foreach (var date in ViewBag.movieDateList)
                                        {
                                            if (count > 6)
                                            {
                                                break;
                                            }
                                            if (date.display_date.display_date1.Month > currentDate.Month || date.display_date.display_date1.Date >= currentDate.Date)
                                            {
                                                <div class="tab-pane time-cinema" id="date-@date.display_date.display_date1.ToString("yyMMdd")">
                                                </div>
                                                count++;
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 right">
                    <div class="row">
                        <h1 class="text-right">Phim đang chiếu</h1>
                    </div>
                    @if (ViewBag.MovieList != null)
                    {
                        var count = 0;
                        foreach (var movie in ViewBag.MovieList)
                        {
                            if (movie.movie_status == true && movie.id != ViewBag.movieItem.id && count < 3)
                            {
                                <div class="row mv">
                                    <a href="/User/BookTicket/MovieDetail/@movie.id" class="text-dark-emphasis movie-name">
                                        <img src="@movie.url_large_image" alt="" class="img-fluid img-movie">
                                        <button class="buy-ticket-btn btn">
                                            <i class="ti-ticket"></i>
                                            Mua vé
                                        </button>
                                        <span class="playing-movie">@movie.title</span>
                                    </a>
                                </div>
                                count++;
                            }
                        }
                    }
                    <div class="row bonus" style="margin: 0; padding-bottom: 1rem;">
                        <div style=" justify-content: flex-end; padding: 0; display: flex;">
                            <button type="button" class="new-mv">
                                <a href="/User/UserHome" class="">
                                    Xem thêm
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right ml-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 15px; height:15px; "><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="~/Areas/User/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/ajax-functions.js"></script>
    @*<script src="~/Areas/User/assets/js/moviedetail.js"></script>*@

</body>
</html>


<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    $('.signin-form').submit(function (e) {
        e.preventDefault();
        var email = $('.signin-form input[name="email"]').val();
        var pass = $('.signin-form input[name="pass"]').val();
        var returnUrl = $('.signin-form input[name="returnUrl"]').val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Home/SignIn',
            type: 'POST',
            data: {
                email: email,
                pass: pass,
                returnUrl: returnUrl,
                __RequestVerificationToken: token
            },
            success: function (data) {
                if (data.success === false) {
                    $('.error-message').text(data.message)
                }
                else {
                    var returnUrl = sessionStorage.getItem('returnUrl');
                    sessionStorage.removeItem('returnUrl');
                    if (returnUrl) {
                        window.location.href = returnUrl;
                    }
                    else
                        window.location.href = data.url;
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    })
    $('.signup-form').submit(function (e) {
        e.preventDefault();
        var email = $('input[name="email"]').val();
        var name = $('input[name="name"]').val();
        var pass = $('input[name="pass"]').val();
        var confirmpass = $('input[name="confirmpass"]').val();
        var returnUrl = $('input[name="returnUrl"]').val();
        $.ajax({
            url: '/Home/CheckExistAccount',
            type: 'POST',
            data: {
                email: email,
                name: name,
                pass: pass,
                confirmpass: confirmpass,
                returnUrl: returnUrl
            },
            success: function (data) {
                if (data.success) {
                    SendVerifyCode(email, name)
                }
                else {
                    $('.error-message').text(data.message)
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    })

    function SendVerifyCode(email, name) {
        $.ajax({
            url: '/Home/VerifyEmail',
            type: 'POST',
            data: { email: email, name: name },
            success: function (data) {
                if (data.success) {
                    $('#verifyCode').modal('show');
                } else {
                    $('.error-message').text(data.message);
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

    $('.verifyCode-form').submit(function (e) {
        e.preventDefault();
        var verifyCode = $('input[name="verifyCode"]').val();
        var name = $('.signup-form input[name="name"]').val();
        var email = $('.signup-form input[name="email"]').val();
        var pass = $('.signup-form input[name="pass"]').val();
        var dateofbirth = $('.signup-form input[name="dateofbirth"]').val();
        var returnUrl = $('.signup-form input[name="returnUrl"]').val();
        $.ajax({
            url: '/Home/SignUp',
            type: 'POST',
            data: {
                name: name,
                email: email,
                dateofbirth: dateofbirth,
                pass: pass,
                returnUrl: returnUrl,
                verifyCode: verifyCode
            },
            success: function (data) {
                if (data.success === false)
                    $('.response-mess').text(data.message)
                else {
                    var returnUrl = sessionStorage.getItem('returnUrl');
                    sessionStorage.removeItem('returnUrl');
                    if (returnUrl) {
                        window.location.href = returnUrl;
                    }
                    else
                        window.location.href = data.url;
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    })

    $('.forgetPass-form').submit(function (e) {
        e.preventDefault();
        var registerEmail = $('input[name="registerEmail"]').val();
        $.ajax({
            url: '/Home/ForgetPassword',
            type: 'POST',
            data: { registerEmail: registerEmail },
            success: function (data) {
                $('.response-mess').text(data.message)
            },
            error: function (err) {
                console.log(err)
            }
        })
    })
    $('input').click(() => {
        $('.response-mess').text("")
    })

    function formatTime(timeitem, choose) {
        var hour = timeitem.getHours();
        var minute = timeitem.getMinutes();
        return choose == 1 ? ((hour < 10 ? '0' : '') + hour + ':' + (minute < 10 ? '0' : '') + minute)
            : ((hour < 10 ? '0' : '') + hour + (minute < 10 ? '0' : '') + minute);
    }
    var currentDay = new Date();
    var timeFormat1 = ''
    function selectDate(selectedDateId, selectedMovieId) {
        $.ajax({
            url: '/User/BookTicket/GetScheduleTime',
            type: 'GET',
            data: { displaydateId: selectedDateId, movieId: selectedMovieId },
            success: function (data) {
                var results = data;
                console.log(results)
                $('.time-cinema').html('')
                var timelistDiv = $('<div></div>').addClass('row align-items-center')
                var timelist = $('<ul></ul>').addClass('list-group list-group-horizontal justify-content-center time-list')
                timelistDiv.append(timelist)
                $('.time-cinema').append(timelistDiv)
                var seatcinema = $('<div></div>').addClass('tab-content seat-cinema')
                $('.time-cinema').append(seatcinema)
                /*timelist.html('')*/
                for (var i = 0; i < results.length; i++) {
                    var dateStr = results[i].schedule_time.toString();
                    var milliseconds = parseInt(dateStr.replace("/Date(", "").replace(")/", ""));
                    var scheduleTime = new Date(milliseconds);
                    var scheduleHour = scheduleTime.getHours();
                    var scheduleMinute = scheduleTime.getMinutes();
                    console.log(scheduleTime, scheduleHour, scheduleMinute)
                    if (scheduleTime.getDate() === currentDay.getDate()) {
                        if (scheduleHour > currentDay.getHours() || scheduleHour === currentDay.getHours() && scheduleMinute >= currentDay.getMinutes()) {
                            var schedule_id = results[i].id
                            console.log(schedule_id)
                            timeFormat1 = formatTime(scheduleTime, 1);
                            var timeFormat2 = formatTime(scheduleTime, 2);
                            // Tạo một thẻ <li> mới
                            var listItem = $('<li></li>').addClass('col-md-1 list-group-item time-btn').attr({
                                'id': 'time-' + timeFormat2 + '-li'
                            });

                            // Tạo một thẻ <a> để hiển thị ngày và áp dụng sự kiện onclick
                            var link = $('<a></a>').addClass('text-dark-emphasis fw-medium').attr({
                                'href': '#time-' + timeFormat2,
                                'data-bs-toggle': 'list',
                                'data-bs-target': '#time-' + timeFormat2,
                                'role': 'tab',
                            })
                            var span = $('<span></span>').addClass('btn btn-outline-secondary time-item').attr({
                                'onclick': "selectSchedule('" + schedule_id + "','" + selectedDateId + "','" + selectedMovieId + "')" // Thêm sự kiện onclick
                            }).text(timeFormat1);
                            link.append(span)
                            // Gắn thẻ <a> vào thẻ <li>
                            listItem.append(link);

                            // Gắn thẻ <li> vào danh sách ngày chiếu
                            $('.time-list').append(listItem);
                            if (i == 0) {
                                var seatcontainer = $('<div></div>').addClass('tab-pane seat-container active').attr({
                                    'id': 'time-' + timeFormat2,
                                    'role': 'tabpanel'
                                })
                                $('.seat-cinema').append(seatcontainer)
                            }
                            else {
                                var seatcontainer = $('<div></div>').addClass('tab-pane seat-container').attr({
                                    'id': 'time-' + timeFormat2,
                                    'role': 'tabpanel'
                                })
                                $('.seat-cinema').append(seatcontainer)
                            }
                        }
                    }
                    else {
                        var schedule_id = results[i].id
                        console.log(schedule_id)
                        timeFormat1 = formatTime(scheduleTime, 1);
                        var timeFormat2 = formatTime(scheduleTime, 2);
                        // Tạo một thẻ <li> mới
                        var listItem = $('<li></li>').addClass('col-md-1 list-group-item time-btn').attr({
                            'id': 'time-' + timeFormat2 + '-li'
                            // Thêm sự kiện onclick
                        });

                        // Tạo một thẻ <a> để hiển thị ngày và áp dụng sự kiện onclick
                        var link = $('<a></a>').addClass('text-dark-emphasis fw-medium').attr({
                            'href': '#time-' + timeFormat2,
                            'data-bs-toggle': 'list',
                            'data-bs-target': '#time-' + timeFormat2,
                            'role': 'tab'
                        })
                        var span = $('<span></span>').addClass('btn btn-outline-secondary time-item').attr({
                            'onclick': "selectSchedule('" + schedule_id + "','" + selectedDateId + "','" + selectedMovieId + "')"
                        }).text(timeFormat1);
                        link.append(span)
                        // Gắn thẻ <a> vào thẻ <li>
                        listItem.append(link);

                        // Gắn thẻ <li> vào danh sách ngày chiếu
                        $('.time-list').append(listItem);
                        if (i === 0) {
                            var seatcontainer = $('<div></div>').addClass('tab-pane seat-container active').attr({
                                'id': 'time-' + timeFormat2,
                                'role': 'tabpanel'
                            })
                            $('.seat-cinema').append(seatcontainer)
                        }
                        else {
                            var seatcontainer = $('<div></div>').addClass('tab-pane seat-container').attr({
                                'id': 'time-' + timeFormat2,
                                'role': 'tabpanel'
                            })
                            $('.seat-cinema').append(seatcontainer)
                        }
                    }
                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    function selectSchedule(scheduleId, selectedDateId, selectedMovieId) {
        var returnUrl = "/User/BookTicket/BookTicket"
        // Lưu thông tin vào localStorage
        localStorage.setItem('selectedMovieId', selectedMovieId);
        localStorage.setItem('selectedDateId', selectedDateId);
        localStorage.setItem('selectedScheduleId', scheduleId);

        // Chuyển trang BookTicket
        $.ajax({
            url: '/Home/CheckLoginStatus',
            type: 'GET',
            success: function (result) {
                if (result.loggedIn) {
                    window.location.href = returnUrl;
                } else {
                    $('.signin-modal').addClass('modal-open')
                    sessionStorage.setItem('returnUrl', returnUrl);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
    $(document).ready(function () {
        const $stars = $('.star');
        let selectedRating = 0;

        $stars.each(function (index) {
            $(this).on('mouseover', function () {
                for (let i = 0; i <= index; i++) {
                    $stars.eq(i).find('path').attr('fill', '#ffad0d');
                }
            });

            $(this).on('mouseout', function () {
                if (index >= selectedRating) { // Chỉ reset màu cho các sao sau ngôi sao đã chọn
                    for (let i = 0; i <= index; i++) {
                        if (i >= selectedRating) {
                            $stars.eq(i).find('path').attr('fill', '#A0A3A7');
                        }
                    }
                }
            });

            $(this).on('click', function () {
                selectedRating = index + 1;
                //$('#comfirmRating').addClass('confirm-active')
                //if (selectRating >= 1)
                //    $('#comfirmRating').addClass('confirm-active')
                //else
                //    $('#comfirmRating').removeClass('confirm-active')

                $('#selectedRating').val(selectedRating);
                for (let i = 0; i < $stars.length; i++) {
                    if (i < selectedRating) {
                        $stars.eq(i).find('path').attr('fill', '#ffad0d');
                    } else {
                        $stars.eq(i).find('path').attr('fill', '#A0A3A7');
                    }
                }
            });
        });

        $('#confirmRating').on('click', function () {
            const movieId = '@ViewBag.movieItem.id';
            const rating = $('#selectedRating').val();
            //$('#comfirmRating').removeClass('confirm-active')

            $.ajax({
                url: '/User/BookTicket/MovieRating',
                method: 'POST',
                data: {
                    movieId: movieId,
                    rating: rating
                },
                success: function (response) {
                    if (response.code == 1) {
                        $('.average-rating').text(response.averageRating.toFixed(1));
                        $('.rating-count').text("(" + response.ratingCount + " bình chọn)");
                    }
                    else if (response.code == -1) {
                        $('.error-mess').text("Bạn đã đánh giá phim này rồi!")
                    }
                    else if (response.code == 0) {
                        $('.error-mess').text("Bạn không thể đánh giá phim này!")
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
    });

    $(document).ready(function () {
        $('#trailer').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            var trailerUrl = button.data('trailer-url');

            var videoId;
            if (trailerUrl.includes('youtu.be')) {
                videoId = trailerUrl.split('/').pop().split('?')[0];
            } else if (trailerUrl.includes('youtube.com/watch')) {
                videoId = trailerUrl.split('v=')[1].split('&')[0];
            }

            var embedUrl = 'https://www.youtube.com/embed/' + videoId;

            var modal = $(this);
            modal.find('#trailerVideo').attr('src', embedUrl);
        });

        $('#trailer').on('hide.bs.modal', function () {
            $(this).find('#trailerVideo').attr('src', '');
        });
    });

    $(document).on('click', '.date-time-item', function () {
        RemoveAllSchedule()
        $(this).addClass('hovered')
    })

    function RemoveAllSchedule() {
        $('.date-time-item').removeClass('hovered')
    }

</script>