@{
    var currentAdmin = (CinemaWeb.Models.user)HttpContext.Current.Session["admin"];
    var count = -1;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/assets/images/logo/cinema-logo.png" type="image/png">
    <title>Admin</title>
    <link rel="stylesheet" href="~/assets/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/adminstyle.css?v=1">
</head>

<body id="reportsPage">
    <div class="header">
        <div class="container-fluid p-4">
            <div class="row align-items-center">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 px-4 py-1">
                    <a href="/Home" class="navbar-brand">
                        <img src="~/assets/images/logo/cinema-logo.png" alt="Ohayou Cinema" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-6" style=" display: flex; justify-content: center; align-items: center;">
                    <ul class="list-gr-1 list-group list-group-horizontal">
                        <li class="list-group-item movie-area">
                            <a href="/Admin/AdminHome">
                                Trang chủ
                                <i class="ti-angle-down down-btn"></i>
                            </a>
                        </li>

                        <li class="list-group-item cinema-corner text-center">
                            Quản lí rạp chiếu
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="/Admin/Movies/Index">Phim</a></li>
                                <li><a href="/Admin/Schedule/Index">Suất chiếu</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item cinema-corner text-center">
                            Quản lí tài khoản
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="/Admin/Staff/StaffList">Nhân viên</a></li>
                                <li><a href="/Admin/User/UserList">Khách hàng</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item movie-area text-center">
                            <a href="/Admin/Revenue/OveralRevenue">
                                Doanh thu
                                <i class="ti-angle-down down-btn"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="login-area col-md-3">
                    <div class="row">
                        <div class="col-auto">
                            <div class="show-login js-show-login">
                                <div class="account-wrapper">
                                    <img src="~/assets/images/subimg/account.png" alt="" class="img-fluid account-img">
                                    <ul class="list-group account-list">
                                        <li class="list-group-item">
                                            <a href="/User/UserHome/UserProfile">
                                                <i class="fa-solid fa-id-badge account-icon"></i>
                                                Tài Khoản
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/Home/SignOut" class="js-logout">
                                                <i class="fa-solid fa-arrow-right-from-bracket account-icon"></i>
                                                Đăng Xuất
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto" style="display: flex; align-items: center;">
                            <div class="user_name  row1 " style="font-weight: 600; font-size: small;">
                                @currentAdmin.full_name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-default"></div>
    @RenderBody()
    <div class="container-fluid wrapper">
        <div class="container wrapper-content">
            <div class=" title-row">
                <i class="fa-solid fa-gauge"></i>
                <span class="link-name">Tổng quan</span>
            </div>
            <div class="row list">
                <div class="col-md-3 frame">
                    <a href="usersManagement.html">
                        <div class="row frame-item">
                            <div class="col-md-3 icon">
                                <i class="fa-regular fa-user"></i>
                            </div>
                            <div class="col-md-9 item">
                                <p class="number">+@ViewBag.TotalUsers</p>
                                <p class="element">Khách hàng</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 frame">
                    <a href="dailyreport.html">
                        <div class="row frame-item">
                            <div class="col-md-3 icon">
                                <i class="fa-solid fa-ticket"></i>
                            </div>
                            <div class="col-md-9 item">
                                <p class="number">+@ViewBag.TotalTicketsToday</p>
                                <p class="element">Vé</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 frame">
                    <a href="dailyreport.html">
                        <div class="row frame-item">
                            <div class="col-md-3">
                                <div class="circular-progress">
                                    <span class="progress-value">0%</span>
                                </div>

                            </div>
                            <div class="col-md-9 item">
                                <p class="number">+@(ViewBag.TotalRevenueToday)đ</p>
                                <p class="element">Doanh thu</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="noti">
                <div class=" noti-title">
                    <i class="fa-solid fa-bell"></i>
                    <span class="link-name">Thông báo</span>
                </div>
                <div class="outer">

                    @foreach (var notification in ViewBag.Notifications)
                    {
                        <div class="card" style="--delay:@count;">
                            <div class="content row" style="font-size: 14px">
                                <div class="img"><img src="~/assets/images/subimg/icon-rules.9c822007.png" alt=""></div>
                                <div class="details col-md-9">
                                    <span class="name">@notification.content</span>
                                    <p>@notification.sub_content</p>
                                </div>
                                <a class="col-md-1"><i class="fa-solid fa-circle-info"></i></a>
                            </div>
                        </div>
                        count++;
                    }
                </div>
            </div>


        </div>
        <div class="toast-mess">
            <div class="toast-mess-content">
                <i class="fas fa-solid fa-check check"></i>
                <i class="ti-close error"></i>
                <div class="message">
                    <span class="text text-1"></span>
                    <span class="text text-2"></span>
                </div>
            </div>

            <i class="fa-solid fa-xmark close"></i>
            <div class="progress-btn"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>


        let circularProgress = document.querySelector(".circular-progress"),
            progressValue = document.querySelector(".progress-value");
        let progressStartValue = 0,
            progressEndValue = @ViewBag.RevenueIncreasePercentage.ToString("F2"),
            speed = 100;

        let progress = setInterval(() => {
            if (progressStartValue < Math.abs(progressEndValue)) {
                progressStartValue++;
            } else {
                clearInterval(progress);
            }

            if (progressEndValue >= 0) {
                progressValue.textContent = `+${progressStartValue}%`;
                circularProgress.style.background = `conic-gradient(#7d2ae8 ${progressStartValue * 3.6}deg, #ededed 0deg)`;
            } else {
                progressValue.textContent = `-${progressStartValue}%`;
                circularProgress.style.background = `conic-gradient(#e83a2a ${progressStartValue * 3.6}deg, #ededed 0deg)`;
            }
        }, speed);
    </script>


</body>

</html>

<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    let timer1, timer2;

    function showtoastmess(success, message1, message2) {
        $('.text-1').text(message1);
        $('.text-2').text(message2);
        if (success) {
            $('.check').show();
            $('.error').hide();
        } else {
            $('.check').hide();
            $('.error').show();
        }
        $('.toast-mess').addClass("active");
        $('.progress-btn').addClass("active");

        timer1 = setTimeout(() => {
            $('.toast-mess').removeClass("active");
        }, 5000);

        timer2 = setTimeout(() => {
            $('.progress-btn').removeClass("active");
        }, 5300);
    }

    if (sessionStorage.getItem('signinSuccess')) {
        showtoastmess(true, 'Welcome', 'Đăng nhập thành công');
        sessionStorage.removeItem('signinSuccess');
    }
</script>

<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var notificationHub = $.connection.notificationHub;

        notificationHub.client.broadcastNotification = function (title, message) {

            $('.outer').prepend(
                `<div class="card">
                        <div class="content">
                            <div class="img"><img src="~/assets/image/icon-rules.9c822007.png" alt=""></div>
                            <div class="details">
                                <span class="name">${title}</span>
                                <p>${message}</p>
                            </div>
                            <a href="dailyreport.html"><i class="fa-solid fa-circle-info"></i></a>
                        </div>
                    </div>`
            );
        };

        // Start the connection
        $.connection.hub.start().done(function () {
            console.log("Notification Hub started");
        });
    });
</script>
