@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@model CinemaWeb.Areas.User.Controllers.UserHomeController

@{
    CinemaWeb.Models.user currentUser = (CinemaWeb.Models.user)HttpContext.Current.Session["user"];
}

@section UserName {
    <div class="user_name  row1 " style="font-weight: 600; font-size: small;">
        <img class="icon" src="~/Areas/User/assets/images/logo/logomini.png" alt="">
        @currentUser.full_name
    </div>
    <div class="row1" style="font-size: small; font-weight: 500;">
        <img class="icon" src="~/Areas/User/assets/images/logo/icon-gift.190935e4.png" alt="">
        0 Star
    </div>
}

@section Phimdangchieu {
    @if (ViewBag.MovieList != null)
    {
        var count = 0;
        var rowCount = 0;
        foreach (var movie in ViewBag.MovieList)
        {
            if (count % 4 == 0)
            {
                if (rowCount > 0)
                {
                    @:</div> <!-- Close previous row -->
                }
                @:<div class="row">
 <!-- Open a new row -->
                    rowCount++;
                }
                if (movie.movie_status == true && count < 4)
                {
                    <div class="col-md-3 sub-movie-list">
                        <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                        <button class="buy-ticket-btn btn">
                            <i class="ti-ticket"></i>
                            Mua vé
                        </button>
                        <a href="#" class="text-dark-emphasis movie-name">@movie.title</a>
                    </div>
                    count++;
                }
            }
            if (rowCount > 0)
            {
            @:</div> <!-- Close the last row -->
        }
    }
}


@section AllPhimdangchieu {
    @if (ViewBag.MovieList != null)
    {
        foreach (var movie in ViewBag.MovieList)
        {
            if (movie.movie_status == true)
            {
                <div class="col-md-3 sub-movie-list">
                    <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                    <button class="buy-ticket-btn btn">
                        <i class="ti-ticket"></i>
                        Mua vé
                    </button>
                    <a href="#" class="text-dark-emphasis movie-name">@movie.title</a>
                </div>
            }
        }
    }
}

@section Phimsapchieu {
    @if (ViewBag.MovieList != null)
    {
        var count = 0;
        foreach (var movie in ViewBag.MovieList)
        {
            if (movie.movie_status == false && count < 4)
            {
                <div class="col-md-3 sub-movie-list">
                    <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                    <button class="buy-ticket-btn btn">
                        <i class="ti-ticket"></i>
                        Mua vé
                    </button>
                    <a href="#" class="text-dark-emphasis movie-name">@movie.title</a>
                </div>
                count++;
            }
        }
    }
}

@section UserProfile {
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <header>
                    <div class="row " style="margin-left: 50px;">
                        <div class="col-auto">
                            <img src="~/assets/images/subimg/account.png" alt="">
                        </div>
                        <div class="col-auto">
                            <div class="row1 " style="font-weight: 600;">
                                <img class="icon" src="~/Areas/User/assets/images/logo/logomini.png" alt="">

                                @currentUser.full_name
                            </div>
                            <div class="row1">
                                <img class="icon" src="~/Areas/User/assets/images/logo/icon-gift.190935e4.png" alt="">
                                0 Star
                            </div>
                        </div>
                    </div>
                </header>
                <div class="rating">
                    <div class="rating-item" style=" font-weight: bold; color:dimgray;">
                        Tổng chi tiêu năm 2024
                        <span class="d">0đ</span>
                    </div>
                    <div class="row ">
                        <div class="col-md-8">
                            <div class="logo">
                                <li class="logo-item1">
                                    <img src="~/Areas/User/assets/images/logo/logomini.png" style="width: 30px; height:40px" alt="">
                                </li>
                                <li class="logo-item2">
                                    <img src="~/Areas/User/assets/images/logo/silver.6313aa20.png" style="width: 30px; height:40px" alt="">
                                </li>
                                <li class="logo-item3">
                                    <img src="~/Areas/User/assets/images/logo/gold.ff661579.png" style="width: 30px; height:40px" alt="">
                                </li>

                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    1
                                </div>
                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">2</div>

                            </div>
                            <div class="money">
                                <li class="money-item1">
                                    0đ
                                </li>
                                <li class="money-item2">
                                    2.000.000đ
                                </li>
                                <li class="money-item3">
                                    4.000.000đ
                                </li>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <ul class="list">
                        <li class="item">
                            <a href="">HOTLINE HỖ TRỢ : 19002224(9:00-22:00)</a>
                        </li>
                        <li class="item">
                            <a href="">Gmail: ohayoucinema@gmail.com</a>

                        </li>
                        <li class="item">
                            <a href="">Câu hỏi thường gặp</a>

                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-7">
                <div class="row">
                    <ul class="list_fc">
                        <li class="list_item">
                            <a href="#history" class="history-btn accordion-toggle" data-bs-toggle="collapse" data-bs-target="#history" aria-expanded="false">Lịch sử giao dịch</a>
                        </li>
                        <li class="list_item">
                            <a href="#infor" class="infor-btn accordion-toggle" data-bs-toggle="collapse" data-bs-target="#infor" aria-expanded="false">Thông tin cá nhân</a>
                        </li>
                        <li class="list_item">
                            <a href="#noti" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#noti" aria-expanded="false">Thông báo</a>
                        </li>
                        <li class="list_item">
                            <a href="#gift" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#gift" aria-expanded="false">Quà tặng</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse history" id="history">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 0;">
                            <img src="~/assets/images/movie/exhuma.jpg" alt="">
                        </div>
                        <div class="col-md-5">
                            Exhuma: Quật mộ trùng ma
                        </div>
                        <div class="col-md-3">
                            20:00h Thứ ba, 09/04/2024
                        </div>
                        <div class="col-md-2">
                            <a href="#detail1" class="accordion-toggle" data-bs-toggle="modal" data-bs-target="#detail1" aria-expanded="false">Chi tiết</a>
                        </div>
                        <div class="modal" id="detail1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="col">
                                        <div class="row1">
                                            <img src="~/assets/images/movie/exhuma.jpg" alt="">
                                            <p>Exhuma: Quật mộ trùng ma</p>
                                        </div>
                                        <div class="row2">
                                            <p>Ohayou cenima</p>
                                            <p>Suất 20:00 Thứ ba, 09/04/2024</p>
                                        </div>
                                        <div class="row3">
                                            <p class="p">Ghế</p>
                                            <p>D5, D6</p>
                                        </div>
                                        <div class="row4">
                                            <div class="col">
                                                <p class="p">Mã vé</p>
                                                <p>WJHC3B5</p>
                                            </div>
                                            <div class="col">
                                                <p class="p">Giá</p>
                                                <p>100.000đ</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 0;">
                            <img src="~/assets/images/movie/kungfu-panda-4.jpg" alt="">
                        </div>
                        <div class="col-md-5">
                            Kungfu Panda 4
                        </div>
                        <div class="col-md-3">
                            20:00h Thứ hai, 08/04/2024
                        </div>
                        <div class="col-md-2">
                            <a href="#detail2" class="accordion-toggle" data-bs-toggle="modal" data-bs-target="#detail2" aria-expanded="false">Chi tiết</a>
                        </div>
                        <div class="modal" id="detail2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="col">
                                        <div class="row1">
                                            <img src="~/assets/images/movie/kungfu-panda-4.jpg" alt="">
                                            <p>Kungfu Panda 4</p>
                                        </div>
                                        <div class="row2">
                                            <p>Ohayou cenima</p>
                                            <p>Suất 20:00 Thứ hai, 08/04/2024</p>
                                        </div>
                                        <div class="row3">
                                            <p class="p">Ghế</p>
                                            <p>H5</p>
                                        </div>
                                        <div class="row4">
                                            <div class="col">
                                                <p class="p">Mã vé</p>
                                                <p>WJHC3B8</p>
                                            </div>
                                            <div class="col">
                                                <p class="p">Giá</p>
                                                <p>50.000đ</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse infor" id="infor">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <div class="form">
                                    <input type="text" contenteditable="false" required placeholder="@currentUser.full_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="form">
                                    <input type="text" required placeholder="@currentUser.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date">Date of birth</label>
                                <div class="form">
                                    <input type="text" required placeholder="@currentUser.date_of_birth">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="phonnum">Phone number</label>
                                <div class="form">
                                    <input type="text" required placeholder="@currentUser.user_phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <div class="form">
                                    <input type="password" required placeholder="*********">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="update">Cập nhật</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
}

>



