@model CinemaWeb.Areas.User.Controllers.UserAccountController

@{
    CinemaWeb.Models.user currentUser = (CinemaWeb.Models.user)HttpContext.Current.Session["user"];
    DateTime currentDate = DateTime.Now;
    DateTime previousMonthYear = DateTime.MinValue;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/assets/images/logo/cinema-logo.png" type="image/png" />
    <title>Ohayou Cinema</title>
    <link rel="stylesheet" href="~/Areas/User/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="~/Areas/User/assets/css/profilestyle.css?v=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
        <div class="container-fluid  p-4">
            <div class="row align-items-center">
                <div class="col-md-2 px-5 py-1">
                    <a href="/User/UserHome/" class="navbar-brand">
                        <img src="~/assets/images/logo/cinema-logo.png" alt="Ohayou Cinema" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 buyticket-area">
                    <a href="/User/BookTicket/BookTicket" class="buyticket-btn btn">
                        <img src="~/assets/images/subimg/btn-ticket.png" alt="" class="img-buy-btn img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <ul class="list-gr-1 list-group list-group-horizontal">
                        <li class="list-group-item movie-area">
                            Phim
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="movie-status list-group">
                                <li class="movie-sta-text-1 py-1">
                                    <i class="fa-solid fa-film"></i>
                                    <a href="#">PHIM ĐANG CHIẾU</a>
                                </li>
                                <div class="movie-list py-1">
                                    <div class="row">
                                        @if (ViewBag.MovieList != null)
                                        {
                                            var count = 0;
                                            foreach (var movie in ViewBag.MovieList)
                                            {
                                                if (movie.movie_status == true && count < 4)
                                                {
                                                    <div class="col-md-3 sub-movie-list">
                                                        <a href="/User/BookTicket/MovieDetail/@movie.id" class="text-dark-emphasis movie-name">
                                                            <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                                                            <button class="buy-ticket-btn btn">
                                                                <i class="ti-ticket"></i>
                                                                Mua vé
                                                            </button>
                                                            <span>@movie.title</span>
                                                        </a>
                                                    </div>
                                                    count++;
                                                }
                                            }
                                        }
                                    </div>
                                </div>

                                <li class="movie-sta-text-2 py-1">
                                    <i class="fa-solid fa-film"></i>
                                    <a href="#">PHIM SẮP CHIẾU</a>
                                </li>
                                <div class="movie-list py-1">
                                    <div class="row">
                                        @if (ViewBag.MovieList != null)
                                        {
                                            var count = 0;
                                            foreach (var movie in ViewBag.MovieList)
                                            {
                                                if (movie.movie_status == false && count < 4)
                                                {
                                                    <div class="col-md-3 sub-movie-list">
                                                        <a href="/User/BookTicket/MovieDetail/@movie.id" class="text-dark-emphasis movie-name">
                                                            <img src="@movie.url_image" alt="" class="img-fluid img-movie">
                                                            <button class="buy-ticket-btn btn">
                                                                <i class="ti-ticket"></i>
                                                                Mua vé
                                                            </button>
                                                            <span>@movie.title</span>
                                                        </a>
                                                    </div>
                                                    count++;
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </ul>
                        </li>

                        <li class="list-group-item cinema-corner text-center">
                            Góc Điện Ảnh
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="/User/BookTicket/MovieType">Thể loại phim</a></li>
                                <li><a href="/User/BookTicket/ActorList">Diễn viên</a></li>
                                <li><a href="/User/BookTicket/DirectorList">Đạo diễn</a></li>
                                @*<li><a href="#">Bình luận phim</a></li>*@
                            </ul>
                        </li>

                        <li class="list-group-item event-list text-center">
                            Sự Kiện
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                @*<li><a href="#">Ưu đãi</a></li>*@
                                <li><a href="/User/BookTicket/BestMovie">Phim hay tháng</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item ticket-price text-center">
                            Rạp/Giá vé
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="/User/UserHome/OhayouCinema">Rạp Đà Nẵng</a></li>
                            </ul>

                        </li>
                    </ul>

                </div>
                <div class="col-md-1">
                    <button class="search-btn btn">
                        <i class="search-icon ti-search"></i>
                    </button>
                </div>
                <div class="login-area col-md-3">
                    <div class="row">
                        <div class="col-auto">
                            <div class="show-login js-show-login">
                                <div class="account-wrapper">
                                    <img src="~/assets/images/subimg/account.png" alt="" class="img-fluid account-img">
                                    <ul class="list-group account-list">
                                        <li class="list-group-item">
                                            <a href="/User/UserHome/UserProfile">
                                                <i class="fa-solid fa-id-badge account-icon"></i>
                                                Tài Khoản
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/User/UserHome/HistoryTicket">
                                                <i class="fa-solid fa-list-ol account-icon"></i>
                                                Lịch Sử
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/Home/SignOut" class="js-logout">
                                                <i class="fa-solid fa-arrow-right-from-bracket account-icon"></i>
                                                Đăng Xuất
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="user_name  row1 " style="font-weight: 600; font-size: small;">
                                <img class="icon" src="~/Areas/User/assets/images/logo/logomini.png" alt="">
                                @currentUser.full_name
                            </div>
                            <div class="row1" style="font-size: small; font-weight: 500;">
                                <img class="icon" src="~/Areas/User/assets/images/logo/icon-gift.190935e4.png" alt="">
                                0 Star
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-container">
        <div class="row profile-wrapper">
            <div class="col-md-4 bg-white profile-sidebar">
                <div class="row justify-content-center profile-infor">
                    <img src="~/assets/images/subimg/account.png" alt="" class="profile-img">
                    <div class="col-auto">
                        <div class="user_name  row1 " style="font-weight: 600; font-size: small;">
                            <img class="icon" src="~/Areas/User/assets/images/logo/logomini.png" alt="">
                            @currentUser.full_name
                        </div>
                        <div class="row1" style="font-size: small; font-weight: 500;">
                            <img class="icon" src="~/Areas/User/assets/images/logo/icon-gift.190935e4.png" alt="">
                            0 Star
                        </div>
                    </div>
                </div>
                <div class="row total-spent">
                    <div class="row justify-content-center fw-medium total-money">
                        <div class="col-auto">
                            <span>Tổng chi tiêu @currentDate.Year</span>
                        </div>
                        <div class="col-auto total-money-text" style="padding-right: 2rem">
                            <span>
                                @ViewBag.totalSpent
                            </span>
                            <i class="fa-solid fa-dong-sign"></i>
                        </div>
                        <div class="row py-5">
                            <div class="col align-self-start">
                                <img src="~/Areas/User/assets/images/logo/logomini.png" style="width: 30px; height:40px" alt="">
                            </div>
                            <div class="col align-self-center logo2">
                                <img src="~/Areas/User/assets/images/logo/silver.6313aa20.png" style="width: 30px; height:40px" alt="">
                            </div>
                            <div class="col align-self-end logo3">
                                <img src="~/Areas/User/assets/images/logo/gold.ff661579.png" style="width: 30px; height:40px" alt="">
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">1</div>
                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">2</div>
                            </div>
                            <div class="money">
                                <div class="col money-item1">
                                    0đ
                                </div>
                                <div class="col money-item2">
                                    2.000.000đ
                                </div>
                                <div class="col money-item3">
                                    4.000.000đ
                                </div>
                            </div>
                            <div class="contact text-center">
                                <ul class="list">
                                    <li class="item">
                                        <a href="">HOTLINE HỖ TRỢ : 19002224(9:00-22:00)</a>
                                    </li>
                                    <li class="item">
                                        <a href="">Gmail: ohayoucinema@gmail.com</a>
                                    </li>
                                    <li class="item">
                                        <a href="">Câu hỏi thường gặp</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="profile-nav-bar" role="tabpanel">
                    <div class="row">
                        <ul class="list-group list-group-horizontal list-group-side">
                            <li class="col-md-3 list-group-item">
                                <a class="text-dark-emphasis fw-medium" href="#history-ticket" data-bs-toggle="list" data-bs-target="#history-ticket" role="tab">Lịch sử giao dịch</a>
                            </li>
                            <li class="col-md-3 list-group-item">
                                <a class="text-dark-emphasis fw-medium active" href="#profile-infor" data-bs-toggle="list" data-bs-target="#profile-infor" role="tab">Thông tin cá nhân</a>
                            </li>
                            <li class="col-md-3 list-group-item" style="padding-left: 3rem;">
                                <a class="text-dark-emphasis fw-medium position-relative notification" href="#notice" data-bs-toggle="list" data-bs-target="#notice" role="tab">
                                    Thông báo
                                    @if (ViewBag.TotalNotice > 0)
                                    {
                                        <span style="font-size: 9px; top: 2px !important; left: 95px !important; background-color: #F26B38;" class="total-notice position-absolute top-0 start-100 translate-middle badge rounded-pill">
                                            @ViewBag.TotalNotice
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    }
                                </a>
                            </li>
                            <li class="col-md-3 list-group-item">
                                <a class="text-dark-emphasis fw-medium" href="#gift" data-bs-toggle="list" data-bs-target="#gift" role="tab">Quà tặng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="history-ticket" role="tabpanel">
                            <div class="row text-center notice-text">
                                <span>Lưu ý: chỉ hiển thị 10 giao dịch gần nhất</span>
                            </div>
                            @foreach (var invoiceitem in ViewBag.invoiceList)
                            {
                                DateTime currentMonthYear = new DateTime(invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.display_date.display_date1.Year, 
                                                                        invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.display_date.display_date1.Month, 1);
                                bool sameMonthYear = currentMonthYear == previousMonthYear;

                                if (!sameMonthYear)
                                {
                                    <div class="row text-center ticket-month">
                                        <span>Tháng @invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.display_date.display_date1.ToString("MM/yyyy")</span>
                                    </div>
                                }

                                <div class="row ticket-detail">
                                    <div class="bg-white ticket-container align-items-center">
                                        <div class="col-md-1 history-img">
                                            <img src="@invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.movy.url_image" alt="">
                                        </div>
                                        <div class="col-md-5 ticket-movie-name">
                                            <span>@invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.movy.title</span>
                                        </div>
                                        <div class="col-md-4 ticket-time-detail">
                                            <span>@invoiceitem.room_schedule_detail.schedule_detail.schedule.schedule_time.ToString(@"hh\:mm")</span>
                                            &nbsp;
                                            <span>@invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.display_date.display_date1.DayOfWeek</span>
                                            <span>, @invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.display_date.display_date1.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="col-md-2 ticket-more-detail">
                                            <a href="@($"#invoice-{invoiceitem.id}")" class="accordion-toggle" data-bs-toggle="modal" data-bs-target="#" aria-expanded="false">Chi tiết</a>
                                        </div>
                                    </div>
                                    <div class="modal" id="@($"invoice-{invoiceitem.id}")">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="col ticket-wrapper">
                                                    <div class="row1">
                                                        <img src="@invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.movy.url_image" alt="">
                                                        <p>@invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.movy.title</p>
                                                    </div>
                                                    <div class="row2">
                                                        <p>Ohayou Cinema</p>
                                                        <p>
                                                            Suất @invoiceitem.room_schedule_detail.schedule_detail.schedule.schedule_time.ToString(@"hh\:mm")
                                                            @invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.display_date.display_date1.DayOfWeek,
                                                            @invoiceitem.room_schedule_detail.schedule_detail.movie_display_date.display_date.display_date1.ToString("dd/MM/yyyy")
                                                        </p>
                                                    </div>
                                                    <div class="row3 row align-items-center">
                                                        <div class="col-md">
                                                            <p class="p">Ghế</p>
                                                            @foreach (var ticketitem in invoiceitem.tickets)
                                                            {
                                                                if (ticketitem.seat.room_id == invoiceitem.room_schedule_detail.room_id)
                                                                {
                                                                    <div class="d-inline-block">
                                                                        <span>@ticketitem.seat.seat_column@ticketitem.seat.seat_row</span>
                                                                        <span class="ticket-space"></span>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <div class="col-md invoice-qrcode">
                                                            @if (invoiceitem.qrcode_image != null)
                                                            {
                                                                <img src="@invoiceitem.qrcode_image" alt="" />
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="row4">
                                                        <div class="col">
                                                            <p class="p">Mã hóa đơn</p>
                                                            <p>@invoiceitem.id</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="p">Giá</p>
                                                            <p>
                                                                @invoiceitem.total_money
                                                                <i class="fa-solid fa-dong-sign"></i>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                previousMonthYear = currentMonthYear;
                            }
                        </div>
                        <div class="tab-pane active py-3" id="profile-infor" role="tabpanel">
                            <div class="row bg-white infor-detail">
                                <div class="col-md-5 p-4 infor-col-1">
                                    <label>Họ và tên</label>
                                    <p>@currentUser.full_name</p>
                                    <label>Email</label>
                                    <p>@currentUser.email</p>
                                </div>
                                <div class="col-md-5 p-4">
                                    <label>Ngày sinh</label>
                                    <p>@currentUser.date_of_birth.Value.ToString("dd/MM/yyyy")</p>
                                    <label>Mật khẩu</label>
                                    <p>********</p>
                                    <button class="btn update-btn update accordion-toggle" data-bs-toggle="modal" data-bs-target="#update" aria-expanded="false">Thay đổi</button>
                                </div>
                                <div class="modal" id="update">
                                    <div class="modal-dialog">
                                        
                                        <div class="modal-content update-box">
                                            <form method="post">
                                                <p>NHẬP THÔNG TIN CHỈNH SỬA</p>
                                                <div class="row user-infor-box">
                                                    <div class="col box-left">
                                                        <div class="subform-group">
                                                            <label for="name">Name</label>
                                                            <div class="subform">
                                                                <input name="name" type="text" placeholder="@currentUser.full_name">
                                                            </div>
                                                        </div>
                                                        <div class="subform-group">
                                                            <label for="email">Email</label>
                                                            <div class="subform non-click">
                                                                <input class="un-click" type="text" value="@currentUser.email">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col box-right">
                                                        <div class="subform-group">
                                                            <label for="date">Date of birth</label>
                                                            <div class="subform non-click">
                                                                <input class="un-click" type="text" value="@currentUser.date_of_birth.Value.ToString("dd/MM/yyyy")">
                                                            </div>
                                                        </div>
                                                        <div class="subform-group">
                                                            <label for="Password">Password</label>
                                                            <div class="subform">
                                                                <input name="pass" type="password" placeholder="********">
                                                            </div>
                                                        </div>
                                                        <div class="text-center" style="color: #dd0707">
                                                            <span class="error-message"></span>
                                                        </div>
                                                        <div class="subform-group">
                                                            <button class="updateBtn">Cập nhật</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="notice" role="tabpanel">
                            @foreach (var notice in ViewBag.NotificationList)
                            {
                                <div class="row ticket-detail my-3">
                                    <div class="bg-white ticket-container align-items-center">
                                        <div class="col-md-1 history-img">
                                            <img src="~/assets/images/subimg/icon-rules.9c822007.png" alt="">
                                        </div>
                                        <div class="col-md-5 ticket-movie-name">
                                            <span>@notice.content</span> <br/>
                                            <span style=" font-weight: 400; font-size: 12px;">@notice.sub_content</span>
                                        </div>
                                        <div class="col-md-4 ticket-time-detail">
                                            <span>@notice.date_create.ToString(@"hh\:mm")</span>
                                            &nbsp;
                                            <span>, @notice.date_create.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="col-md-2 ticket-more-detail" style=" color: #F26B38;">
                                            @if (notice.status == false)
                                            {
                                                <i class="fa-solid fa-circle-exclamation"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-circle-check"></i>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="tab-pane" id="gift" role="tabpanel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Areas/User/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/Areas/User/assets/js/profilescript.js"></script>
</body>
</html>

<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".subform input").click(function () {
            $(".error-message").text("");
        });

        $(".updateBtn").click(function (e) {
            e.preventDefault();
            var name = $("input[name='name']").val();
            var pass = $("input[name='pass']").val();

            $.ajax({
                url: "/User/UserHome/UpdateInfor",
                method: "POST",
                data: { name: name, pass: pass },
                success: function (response) {
                    if (response.success) {
                        var redirectUrl = response.redirectUrl;
                        if (redirectUrl) {
                            window.location.href = redirectUrl;
                            alert("Cập nhật thông tin thành công")
                        }
                    } else {
                        $(".error-message").text(response.message);
                    }
                }
            });
        });
    });

    $('.notification').on('click', () => {
        $.ajax({
            url: "/User/UserHome/NoticeStatus",
            type: "POST",
            success: function (data) {
                if (data.success) {
                    $('.total-notice').hide()
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    })

    

</script>


